<!DOCTYPE html>
<html>
<head>
  <title>ApiDemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= include_gon %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=INSERT_API_KEY_HERE&sensor=false"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
